
.injectbutton {
    width: 32px;
    height: 32px;
    border: none;
    margin-top: 5px;
    margin-left: 9px;
    cursor: pointer;
}

.overlay {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1.0;
    letter-spacing: normal;
    font-variant: normal;
    font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 100px 0 0 0;
    margin: 0;
}

.editorpanel {
    position: relative;
    width: 800px;
    height: 300px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

.tagpanel {
    padding: 10px;
}

.tag {
    font-size: 14px;
    width: 124px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    border: solid 1px #d5132b;
    border-radius: 2px;
    text-align: center;
    margin: 12px 20px 4px 4px;
    cursor: pointer;
}

.selectedpanel .tag {
    color: white;
    background-color: #d5132b;
}

.candidatetagpanel .tag {
    color: #6a6a6a;
    background-color: white;
}

.bgpanel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.feedpanel {
    position: relative;
    font-weight: normal;
    font-size: 14px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.feed {
    padding: 10px;
}

.feed .WB_arrow, .feed .arrow {
    display: none;
}

.feed .WB_screen, .feed .info {
    display: none;
}

.feed .WB_face, .feed .face {
    float: left;
    width: 50px;
    position: relative;
}

.feed .WB_info {
    text-align: left;
}

.feed .WB_text {
    line-height: 23px;
    padding: 4px 0 4px;
    text-align: left;
}

.feed .S_bg1 {
    background-color: #f2f2f2;
    border: solid 1px #c6d89f;
    padding: 5px;
}

.feed .WB_detail, .feed .content {
    margin-left: 65px;
}

.feed .clearfix {
    display: block;
}

.feed .WB_media_list, .feed .piclist {
    margin-right: 0px;
}

.feed .WB_media_list li, .feed .piclist li {
    display: inline;
    margin: 0 10px 0 0;
    vertical-align: top;
}

.feed .chePicMin {
    display: inline-block;
    vertical-align: top;
}

.feed .WB_feed_spec {
    display: inline-block;
    width: 316px;
    height: 100px;
    padding: 1px;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.feed .WB_feed_spec_pic {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
    padding: 0;
}

.feed .WB_feed_spec_pic img {
    left: 0;
    width: 100px;
    position: absolute;
}

.feed .WB_feed_spec_info {
    position: absolute;
    float: right;
    width: 202px;
    height: 88px;
    padding: 8px 4px 4px 110px;
}

.feed .WB_feed_spec_info .WB_feed_spec_cont .WB_feed_spec_tit {
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    width: 100%;
    margin: 0 0 5px;
}

.W_autocut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed .WB_feed_spec_info .WB_feed_spec_cont .WB_feed_spec_brieftxt {
    line-height: 18px;
    height: 35px;
    overflow: hidden;
    margin-bottom: 9px;
}

.feed .WB_func {
    display: none;
    text-align: left;
    color: black;
}

.feed .WB_handle {
    float: right;
}

.buttonpanel {
    width: 800px;
    height: 44px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.buttonpanel button {
    border-radius: 4px;
    font-size: 12px;
    background-color: #eff3f5;
    border: solid 1px #ddd;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    width: 100px;
    position: absolute;
    top: 0px;
}

.buttonok {
    right: 140px;
}

.buttoncancel {
    right: 10px;
}

.feed .comment {
background: #fbfbfb;
border: solid 1px #e1e4e5;
zoom: 1;
line-height: 20px;
padding: 5px;
font-size: 12px;
margin: 10px 0 7px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}